.nav_bar{
    width:100%;
    height:30px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.bar2{
    display: flex;
    align-items: center;
    margin-top:-20px;
    padding:10px;
    background-color:lightblue;
    justify-content: space-around;
}
.img1{
    width:1400px;
    height:600px;
    
   filter: blur(1px);}
.bar3{
    margin-top:-50px;
    padding:relative;
    align-items: center;
}
.centered{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
.dot{
    
        height: 10px;
        width: 10px;
        background-color:lightblue;
        border-radius: 50%;
        display: inline-block;
    }
.blue{
   
    padding:20px;
    border:2px sloid;
    background-color: blue;
    display: flex;
    margin-right:300px;
    position: absolute;
        top: 660px;
        left:250px;
        transform: translate(-50%, -50%);
        width:250px;
    }
.prop{
    font-family: 'Times New Roman', Times, serif;
    font-size:100px;
    font-style: bold;
    
}   
.home{
    font-size:30px;
    font-style: bold;
} 
.img2{
    width:1100px;
    height:350px;
    margin-left:200px;
}
.b3{
    justify-content: space-around;
    display: flex;
    
}
.img3{
    margin-left:10px;
    width:350px;
    height:300px;
}
.img4{
    margin-left:-700px;
    width:350px;
    height:300px;
}
.img5{
    width:300px;
    height:300px;
    margin-left:-700px;
}
.line1{
    margin-left: 200px;
    color: blue;
    padding: 1px;
}
.img6{
    margin-left:500px;

}
.sandal{
    border:2px white solid;
    background-color:  rgb(214, 205, 205);
    margin-left:400px;
    width:900px;
    height:550px;
}
.img6{
    margin-left:300px;
    background-color: lightgray;
    margin-top:-50px;
    }
.beaut{
    font-family: 'Times New Roman', Times, serif;
    margin-left: -370px;
    font-size:40px;
    margin-top:-450px;
}
.photoshop{
    margin-left: -370px;
    margin-top:50px;
}
.studio{
    margin-top:100px;
    font-size: 40px;
    color: rgb(91, 85, 85);
}
.client{
    margin-top:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.product{
    margin-top:50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.design{
    margin-left:150px;
}
.usa{
    margin-left:20px;
}
.develop{
    margin-right:400px;
}
.persons{
    margin-left:150px;
    
}
.cblue{
    margin-top: 10px;
    justify-content: space-around;
    color: lightgray;
    text-align: center;
}


